h1{
  background-color: lightblue;
  color: indigo;
}
#pyramid {
    line-height: 0;
    font-size: 30px;
}

body {
    font-family: "Courier New", monospace;
    text-align: center;
}
label{
  font-weight: bold;
}
.border{
  border: 2px solid;
  border-radius: 25px;
  background-color: lightpink;
  width: 300px;
  padding: 25px;
  margin: 25px;
}
